vendor
composer.lock
tests/demo.pfx
tests/democacert.cer
tests/democacert.cer.pem
coverage
build/logs
.phpunit.result.cache
.phpunit.cache/test-results
.idea
.env
FISKAL_NEW.p12
FISKAL_1.p12
phpunit.xml.bak